.main-logo {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 3.375rem;
    margin-bottom: 2.8rem;

    @media (min-width: 48rem) {
        max-width: 5.375rem;
        margin-bottom: 2.9rem;
    }
}