@property --font-weight {
    syntax: "<number>";
    initial-value: 300;
    inherits: false;
}

body {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    --font-weight: 300;
    font-weight: var(--font-weight);
}

.main-heading {
    --font-weight: 300;
    font-weight: var(--font-weight);

    strong {
        --font-weight: 700;
        font-weight: var(--font-weight);
    }
}

button {
    --font-weight: 600;
    font-weight: var(--font-weight);
}
