*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	/* color-scheme: light dark; */
}

html {
  box-sizing: border-box;
}

body {
    display: grid;
    align-content: center;
    margin: 0;
    min-height: 100svh;
    scrollbar-gutter: stable;
}

img {
  /* Scale down images to fit on the screen*/
  max-inline-size: 100%;

  /* Preserves images' aspect ratio */
  block-size: auto;

  /* Prevent squashing and stretching */
  object-fit: cover;
}