.social-nav {
    display: flex;
    gap: 1rem;
    margin: 7.5rem auto 1.5rem;

    .social-nav__list {
        display: contents;
    }

    .social-nav__link {
        overflow: hidden;
        display: block;
        width: 2rem;
        aspect-ratio: 1;
        border: solid thin var(--main-color-100);
        border-radius: 100%;
        align-content: center;
    }

    .social-nav__image {
        width: 60%;
        margin-top: 20%;
    }

    .social-nav__image--twitter {
        margin-left: 7.5%;
    }

    .social-nav__image--instagram {
        width: 72%;
        margin-top: 15%;
        margin-left: 3%;
    }

    @media (min-width: 48rem) {}
}